################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs
/Scheduler.vcxproj.user
/Scheduler.vcxproj.filters
/Scheduler.vcxproj
/Scheduler.sln
